/* App layout */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
  position: fixed;
  width: 100%;
}


.content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #5f6367;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
